.form {
  border: 2px solid green;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.form_label {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input_form {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  height: 30px;
  font-size: 14px;
  padding: 0 10px;
  box-sizing: border-box;
}

.form_btn {
  background-color: rgba(0, 128, 0, 0.8);
  height: 30px;
  width: 100%;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form_btn:hover {
  background-color: rgba(0, 128, 0, 1);
}

.form_btn:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
